.dashboard_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.dashboard{
    background-color: #f3f4f6;
}